@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.rcl_text {
  background-image: linear-gradient(to right, #00f260, #f79d00, #0575e6, #64f38C)!important;
  -webkit-background-clip: text!important;
  color: transparent!important;
  background-size: 300%!important;
  background-position: -100%!important;
  animation: animatedText 5s infinite alternate-reverse;
}


@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

